* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
  }
  
  .jumbotron {
    display: flex;
    align-items: center;
    background-image: url('./img/jumbotron.jpg');
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
  }
  
  .jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: rgb(255, 255, 255);
  }
  
  .jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100%;
  }
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .btn.btn-primary {
    border-radius: 2px;
    color: gray;
    background-color: white;
    border: 0px;
    text-shadow: none;
  }
  
  .btn.btn-primary:hover {
    color: white;
    background-color: rgb(180, 176, 176);
  }
  
  .btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
  }
 
  .jumbotron h2{
    color: rgb(243, 242, 242);
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul{
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }